
<div class='card card-profile text-center'>
  <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
  <div class='card-block'>
    <% if @current_user.image? %>
      <%= image_tag @current_user.image, :class => 'card-img-profile'%>
    <% else %>
      <%= image_tag 'https://www.goaltos.com/wp-content/uploads/sites/4559/2018/01/avatar-1577909_960_720.png', :class => 'card-img-profile' %>
    <% end %>
    <% if @current_user.present? %>
    <h4 class='card-title'><%= @current_user.name %></h4>
      <% end %>
    <div class='card-links'>
      <div class="btn-toolbar justify-content-center">
      <%= button_to "Edit Profile", edit_user_path(@current_user), :class => 'btn btn-primary mr-2 ', :method => 'get' %>
      <%= button_to "Post item", new_item_path, :class => 'btn btn-primary', :method => 'get'%></div>
  </div>
</div>
